<!-- nav -->
<nav class="navbar navbar-expand navbar-dark" style="background-color: blueviolet;" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }" style="background-image: url(https://image.freepik.com/vector-gratis/conjunto-vector-diseno-copos-nieve-navidad_53876-64331.jpg);">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
