﻿<h1>HIJOS</h1>
<div class="col-sm-6" style="align-items: center;" *ngFor="let user of users">
    <div class="row">
        <div class="card text-white mb-3" style="width: 1000px;">
            <div class="card-header" style="background-color: crimson;text-shadow: black;">HIJO {{user.nombre}}</div>
            <div class="card-body" style="background-color:  rgb(14, 145, 62);">
                <p class="card-text">NOMBRE: {{user.nombre}}</p>
                <p class="card-text">NICKNAME: {{user.nickname}}</p>
                <p class="card-text">EDAD: {{user.edad}}</p>
                <p class="card-text">BASTONES: {{user.bastones}}</p>
                <a routerLink="edit/{{user.idhijo}}" class="btn btn-sm btn-primary mr-1">ver ACCIONES</a>
            </div>
        </div>
    </div>
</div>